.error-page {
  height: 100vh;
  background-color: #242424;
}

.error-page h1{
  font-weight: 600;
  color: var(--red);
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
}

.error-page p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.error-page a {
  margin-bottom: 1rem;
  color: var(--white);
}